# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pyd

# Virtual environment
venv/

# 
PyTransport/Examples/dafne
PyTransport/Examples/Dibya
PyTransport/Examples/Monodromy

# Build and distribution directories
build/
dist/
*.egg-info/

# IDE files
.vscode/
.idea/
